ion-content {
  --background: transparent;
  padding: 0;
  margin: 0;
}

iframe {
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  border: none;
  overflow: hidden;

  z-index: 9999;
}
